TAccumulation/Library/*
TAccumulation/Temp/*
TAccumulation/ab_TAccumulation/*
/*.sln
/*.csproj
/.vs
/*.DS_Store
/.vscode
/*.userprefs
/*.user
TAccumulation/TAccumulation.sln
TAccumulation/TAccumulation.csproj
TAccumulation/TAccumulation.Editor.csproj

TAccumulation/.vs/TAccumulation/v14/.suo
